<!DOCTYPE html>
<html lang="en" ng-app="madApp">
<head>
    <meta charset="UTF-8">
    <title>Thinkful Madlibs Exercise (Unit 1 Lesson 2)</title>
    <link href="styles/madlibs.css" rel="stylesheet" type="text/css"/>
</head>
<body ng-controller = "MadController">
    <div class="wrapper">
           <div class="row">
               <div class="col col_2">
                   <img src="images/mad-lib-happy-face.png"/>
               </div>
               <div class="col col_8">
                   <img src="images/ng-mad-libs-logo.png" alt="Mad Libs Logo">
                   <div class="mainheading">Automate This!</div>
                   <div class="small">Version: {{version}}</div>
               </div>
           </div>
           <form name="madform" novalidate>
           <div class="row section" ng-hide="display">
               <div class="sectionheading">Provide the following words:</div>    
               
               <div class="col col_3">
                    <div class="input">
                        <label for="male">Gender: </label>
                        <input type="checkbox" ng-model="male" id="male"/>
                    </div>
                   
                   <div class="input">
                       <input type="text" name="femaleName" placeholder="{{male?'Male':'Female'}} name" ng-model="female_name" required/> <span class="error" ng-show="madform.femaleName.$dirty && madform.femaleName.$invalid || showErrors">Boo</span>
                   </div>
                    <div class="input">
                   <input type="text" name="jobTitle" placeholder="Job Title" ng-model="job_title" required/>
                   <span class="error" ng-show="madform.jobTitle.$dirty && madform.jobTitle.$invalid">Boo</span>
                   </div>
                    <div class="input">
                   <input type="text" placeholder="Tedious Task" ng-model="tedious_task" required>
                    </div>
               </div>
               <div class="col col_3">
                    <div class="input">
                    <input type="text" placeholder="Dirty Task" ng-model="dirty_task"/>
                   </div>
                    <div class="input">
                    <input type="text" placeholder="Celebrity" ng-mpdel="celebrity"/>
                   </div>
                    <div class="input">
                    <input type="text" placeholder="Useless Skill" ng-model="useless_skill"/>
                   </div>
               </div>
               <div class="col col_3">
                   <div class="input">
                   <input type="text" placeholder="Obnoxious celebrity" ng-model="obnoxious_celebrity"/>
                   </div>
                    <div class="input">
                   <input type="text" placeholder="Huge Number" ng-model="huge_number"/>
                   </div>
                    <div class="input">
                   <input type="text" placeholder="Adjective" ng-model="adjective"/>     
                   </div>
               </div>
             
           </div>
             <div class="row" ng-hide="display">
                    <div class="col col_3 offset_3">
                        <input type="submit" ng-click="generate()" value="Generate Madlibs"/>
                    </div>
             </div> 
            </form>
           <div class="row section" ng-show="display">
              <p>
               {{female_name}} was a {{job_title}} who loved technology. Although {{male?'he':'she'}} loved parts of {{male?'his':'her'}} job, {{male?'he':'she'}} absolutely hated {{tedious_task}} and {{dirty_task}}. So, {{female_name}} met with {{male?'his':'her'}} life mentor {{celebrity}} who told {{male?'his':'her'}} to learn how to {{useless_skill}} with Thinkful. Thinkful didn't offer a course on {{useless_skill}} so {{male?'he':'she'}} studied programming instead.
What a great decision! With {{male?'his':'her'}} new skills, {{female_name}} built a(n) {{adjective}} robot named {{obnoxious_celebrity}} that not only loved {{dirty_task}} but did it {{huge_number}} times faster. 
               </p>
               <p>
                   <button ng-click="reset()">Reset</button>
               </p>
           </div>
           
        
    </div>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="scripts/madlibs.js"></script>
</body>
</html>